[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=VUMeter
Exec=/usr/bin/invoker --single-instance --type=d /opt/vumeter/bin/vumeter
Icon=/usr/share/icons/hicolor/64x64/apps/vumeter.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
